.contest__text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin: 0px;
}
@media screen and (max-width: 480px) {
  .contest__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 296px;
    height: 213px;
    margin: 0px auto 70px;
  }
}
