.description {
  max-width: 1920px;
  height: 790px;
  margin: 0px 0px 70px 0px;
  padding: 0px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1919px) {
  .description {
    max-width: 100%;
    margin: 0px auto 70px auto;
  }
}
@media screen and (max-width: 1440px) {
  .description {
    width: 100%;
    /* margin: 0px auto; */
  }
}
@media screen and (max-width: 320px) {
  .description {
    width: 320px;
    height: 1480px;
    margin: 0px;
  }
}
