.description {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 70px;
  padding: 0px;
  border: none;
  outline: none;
}
@media screen and (max-width: 1400px) {
  .description {
    max-width: 1400px;
    margin: 0px 36px 70px;
  }
}
@media screen and (max-width: 426px) {
  .description {
    max-width: 426px;
    margin: 0px auto 70px;
  }
}
@media screen and (max-width: 340px) {
  .description {
    margin: 35px auto 70px;
  }
}
