.hpInfo {
  max-width: 1920px;
  margin: 0px;
  background: #f8f200;
}
@media screen and (max-width: 1024px) {
  .hpInfo {
    max-width: 1024px;
  }
}
@media screen and (max-width: 480px) {
  .hpInfo {
    max-width: 480px;
  }
}
@media screen and (max-width: 320px) {
  .hpInfo {
    max-width: 320px;
  }
}
