.page {
  max-width: 1920px;
  margin: 0px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
