body.page {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Archangelsk", "Roboto", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: rgb(32, 28, 28);
  z-index: 0;
}
