.contest__container_block-2 {
  width: 952px;
  height: 91px;
  margin-bottom: 25px;
  margin-top: 25px;
  /* outline: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .contest__container_block-2 {
    width: 460px;
    height: 159px;
    margin: 0px 0px 98px 36px;
  }
}
@media screen and (max-width: 320px) {
  .contest__container_block-2 {
    width: 296px;
    height: 213px;
    margin: 0px 12px 70px;
  }
}
