.buy-game__platform_pc {
  width: 62px;
  height: 35.188px;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 320px) {
  .buy-game__platform_text {
    max-width: 296px;
    height: auto;
  }
}
