.buy-game__platform {
  display: flex;
  flex-direction: column;
  gap: 24.85px;
  width: 319px;
  height: 186px;
  margin: 0px 0px 70px 32px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 480px) {
  .buy-game__platform {
    max-width: 296px;
    height: auto;
    margin: 0px auto 71px;
    gap: 25.85px;
  }
}
