.contest__PS5Image {
  width: 296px;
  height: 351px;
  margin: 24px 0px 81px 164px;
  z-index: 2;
}

@media screen and (max-width: 850px) {
  .contest__PS5Image {
    width: 196px;
    height: 251px;
    margin: 25px 10px 80px 144px;
  }
}

@media screen and (max-width: 740px) {
  .contest__PS5Image {
    width: 120px;
    height: 154px;
    margin: 25px 0px 80px 124px;
  }
}

@media screen and (max-width: 560px) {
  .contest__PS5Image {
    width: 85px;
    height: 100.7px;
    margin: 7px 0px 23px 47px;
  }
}
