.buyGame__benefitText {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 480px) {
  .buyGame__benefitText {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
