.contest__form_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 7px;
  width: 460px;
  height: 120px;
  margin: 0px 0px 35px 0px;
  border: grey;
  border-style: dotted;
  background: black;
  /* outline: 1px solid red; */
}
