.header__info {
  width: 1280px;
  display: flex;
  margin: 0px auto;
  z-index: 5;
}

@media screen and (max-width: 1400px) {
  .header__info {
    max-width: 1280px;
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .header__info {
    margin: 0px 36px;
  }
}

@media screen and (max-width: 860px) {
  .header__info {
    max-width: 860px;
    width: 90%;
  }
}

@media screen and (max-width: 560px) {
  .header__info {
    margin: 0px auto;
  }
}

@media screen and (max-width: 340px) {
  .header__info {
    max-width: 340px;
    width: 100%;
    justify-content: center;
    margin-bottom: -35px;
  }
}
