.header {
  display: flex;
  position: relative;
  max-width: 1920px;
  height: 1000px;
  flex-shrink: 0;
  background: url(../../images/main-image-png.png) lightgray 50% / cover
    no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
    background: url(../../images/main-image-1024.svg) lightgray 50% / cover
      no-repeat;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    height: 713px;
    background: url(../../images/main-image-mobile.svg) lightgray 50% / cover
      no-repeat;
    background-position: center;
  }
}
