.contest__container {
  width: 1280px;
  /* height: 814px; */
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .contest__container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 480px) {
  .contest__container {
    max-width: 480px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 320px) {
  .contest__container {
    max-width: 320px;
    /* padding-top: 0px; */
  }
}
