.contest__form {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: 460px;
  height: 383px;
  /* outline: 1px solid red; */
  margin: 98px 32px 70px 0px;
}
@media screen and (max-width: 1024px) {
  .contest__form {
    margin: 0px 0px 70px 36px;
  }
}
@media screen and (max-width: 480px) {
  .contest__form {
    width: 296px;
    margin: 0px auto 70px;
  }
}
