.header__social-navigation {
  width: 379px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@media screen and (max-width: 860px) {
  .header__social-navigation {
    width: 300px;
    height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .header__social-navigation {
    max-width: 320px;
    height: 25px;
    margin: 0px;
  }
}

@media screen and (max-width: 360px) {
  .header__social-navigation {
    max-width: 296px;
    width: 90%;
  }
}
