.buy-game__title {
  width: 624px;
  height: 126px;
  color: #fff;
  font-family: Archangelsk;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 70px 0px 25px 32px;
}
