.footer__main_pic-1 {
  width: 295.991px;
  height: 73.489px;
  margin: 13px 32px 13px 0px;
}
@media screen and (max-width: 1024px) {
  .footer__main_pic-1 {
    margin: 13px 32px 13px 25px;
  }
}
@media screen and (max-width: 320px) {
  .footer__main_pic-1 {
    width: 200px;
    height: 50px;
    margin: 40px 61px 10px;
  }
}
