.hp-info__container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  height: 676px;
  margin: 0px auto;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .hp-info__container {
    max-width: 1024px;
    height: 796px;
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .hp-info__container {
    flex-direction: column;
    max-width: 480px;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .hp-info__container {
    flex-direction: column;
    max-width: 320px;
    height: auto;
  }
}
