.description__cards {
  display: grid;
  grid-template-columns: 460px 788px;
  gap: 32px;
  grid-template-rows: 196px 196px;
}

@media screen and (max-width: 1400px) {
  .description__cards {
    max-width: 1400px;
    width: 100%;
    grid-template-columns: minmax(0, 600px) minmax(0, 600px);
    grid-template-rows: minmax(0, 260px) minmax(0, 560px);
  }
}

@media screen and (max-width: 1024px) {
  .description__cards {
    max-width: 1400px;
    width: 100%;
    grid-template-columns: minmax(0, 460px) minmax(0, 460px);
    grid-template-rows: minmax(0, 196px) minmax(0, 424px);
  }
}

@media screen and (max-width: 680px) {
  .description__cards {
    max-width: 680px;
    margin: auto;
    grid-template-columns: minmax(0, 680px);
    grid-template-rows: minmax(0, 280px) minmax(0, 280px) minmax(0, 424px);
  }
}
@media screen and (max-width: 426px) {
  .description__cards {
    max-width: 425px;
    margin: 0px;
    grid-template-columns: minmax(0, 425px);
    grid-template-rows: minmax(0, 196px) minmax(0, 196px) minmax(0, 424px);
  }
}
