.footer__main_pic-2 {
  width: 172.05px;
  height: 74px;
  margin: 13px 0px;
}
@media screen and (max-width: 480px) {
  .footer__main_pic-2 {
    width: 116.25px;
    height: 50px;
    margin: 15px auto 25px;
  }
}
