.contest__promotion-title {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: Archangelsk;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: end;
  margin-bottom: 20px;
}
