.contest__promotion-title {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: Archangelsk;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: end;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .contest__promotion-title {
    margin: 0px 0px 25px 36px;
  }
}
@media screen and (max-width: 480px) {
  .contest__promotion-title {
    width: 296px;
    height: 31px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px auto 25px;
    align-self: start;
  }
}
