.contest__console_image-2_pic {
  width: 296px;
  height: 351px;
  margin: 24px 0px 81px 164px;
  z-index: 2;
}

@media screen and (max-width: 850px) {
  .contest__console_image-2_pic {
    width: 196px;
    height: 251px;
    margin: 25px 10px 80px 144px;
  }
}

@media screen and (max-width: 480px) {
  .contest__console_image-2_pic {
    width: 85px;
    height: 100.7px;
    margin: 7px 0px 23px 47px;
  }
}
