.header__button_text {
  color: #f8f200;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  .header__button_text {
    /* max-width: 480px;
    height: 40px; */
    font-size: 20px;
  }
}
