.hp-info__container_block-1 {
  display: flex;
  flex-direction: column;
  width: 624px;
  height: 536px;
  margin: 70px 32px 70px 0px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .hp-info__container_block-1 {
    margin: 0px;
    width: 528px;
    height: 796px;
  }
}
@media screen and (max-width: 320px) {
  .hp-info__container_block-1 {
    max-width: 320px;
    height: 343px;
  }
}
