.footer__main_license {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__main_license:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .footer__main_license {
    font-size: 16px;
  }
}
