.buy-game__platform_text {
  width: 255px;
  height: 28.15px;
  color: #52bedc;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
