.contest__console {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 788px;
  height: 456px;
  top: 288px;
  right: 0px;
}
@media screen and (max-width: 1330px) {
  .contest__console {
    flex-direction: column;
    width: 460px;
    top: 95px;
    margin-right: 36px;
    z-index: 0;
  }
}

@media screen and (max-width: 850px) {
  .contest__console {
    flex-direction: column;
    width: 360px;
    top: 95px;
    margin-right: 36px;
    z-index: 0;
  }
}

@media screen and (max-width: 480px) {
  .contest__console {
    flex-direction: row;
    width: 296px;
    height: 131px;
    margin: auto;
    top: 55px;
    left: 12px;
  }
}
