@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/font.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__social-navigation/header__social-navigation.css);
@import url(../blocks/header/__social-navigation/_icon/header__social-navigation_icon.css);
@import url(../blocks/header/__social-navigation/_image/header__social-navigation_image.css);
@import url(../blocks/header/__info/header__info.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__button/_text/header__button_text.css);
@import url(../blocks/header/__button/_link/header__button_link.css);

@import url(../blocks/description/description.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__info/description__info.css);
@import url(../blocks/span-text/span-text.css);
@import url(../blocks/description/__cards/description__cards.css);
@import url(../blocks/description/__cards/_item-1/description__cards_item-1.css);
@import url(../blocks/description/__cards/_item-2/description__cards_item-2.css);
@import url(../blocks/description/__cards/_item-3/description__cards_item-3.css);

@import url(../blocks/blockLine-1/blockLine-1.css);

@import url(../blocks/contest/contest.css);
@import url(../blocks/contest/__promotion/contest__promotion.css);
@import url(../blocks/contest/__container/contest__container.css);
@import url(../blocks/contest/__container/_block-1/contest__container_block-1.css);
@import url(../blocks/contest/__promotion-title/contest__promotion-title.css);
@import url(../blocks/contest/__promotion/_pic/contest__promotion_pic.css);
@import url(../blocks/contest/__container/_block-2/contest__container_block-2.css);
@import url(../blocks/contest/__text/contest__text.css);
@import url(../blocks/contest/__console/contest__console.css);
@import url(../blocks/contest/__console/_image-1/contest__console_image-1.css);

@import url(../blocks/contest/__container/_block-3/contest__container_block-3.css);
@import url(../blocks/contest/__console/_image-2/contest__console_image-2.css);
@import url(../blocks/contest/__console/_image-1/_pic-1/contest__console-image_1_pic.css);
@import url(../blocks/contest/__console/_image-2/_pic-2/contest__console_image-2_pic.css);
@import url(../blocks/contest/__form/contest__form.css);
@import url(../blocks/contest/__form/_name/contest__form_name.css);
@import url(../blocks/contest/__form/_mail/contest__form_mail.css);
@import url(../blocks/contest/__form/_container/contest__form_container.css);
@import url(../blocks/contest/__form/_screenshot-1/contest__form_screenshot-1.css);
@import url(../blocks/contest/__form/_screenshot-2/contest__form_screenshot-2.css);
@import url(../blocks/contest/__form/_submit/contest__form_submit.css);
@import url(../blocks/contest/__form/_confirmation/contest__form_confirmation.css);

@import url(../blocks/blockLine-2/blockLine-2.css);

@import url(../blocks/hp-info/hp-info.css);
@import url(../blocks/hp-info/__container/hp-info__container.css);
@import url(../blocks/hp-info/__image/hp-info__image.css);
@import url(../blocks/hp-info/__logos/hp-info__logos.css);
@import url(../blocks/hp-info/__container/_block-1/hp-info__container_block-1.css);
@import url(../blocks/hp-info/__container/_block-2/hp-info__container_block-2.css);
@import url(../blocks/hp-info/__title/hp-info__title.css);
@import url(../blocks/hp-info/__text/hp-info__text.css);
@import url(../blocks/hp-info/__details/hp-info__details.css);
@import url(../blocks/hp-info/__benefit/hp-info__benefit.css);
@import url(../blocks/hp-info/__benefit/_icon/hp-info__benefit_icon.css);
@import url(../blocks/hp-info/__benefit/_text/hp-info__benefit_text.css);
@import url(../blocks/hp-info/__button/hp-info__button.css);
@import url(../blocks/hp-info/__link/hp-info__link.css);

@import url(../blocks/buy-game/buy-game.css);
@import url(../blocks/buy-game/__picture/buy-game__picture.css);
@import url(../blocks/buy-game/__info/buy-game__info.css);
@import url(../blocks/buy-game/__title/buy-game__title.css);
@import url(../blocks/buy-game/__details/buy-game__details.css);
@import url(../blocks/buy-game/__subtitle/buy-game__subtitle.css);
@import url(../blocks/buy-game/__subtitle/_text/buy-game__subtitle_text.css);
@import url(../blocks/buy-game/__benefit/buy-game__benefit.css);
@import url(../blocks/buy-game/__benefit/_text/buy-game__benefit_text.css);
@import url(../blocks/buy-game/__platform/buy-game__platform.css);
@import url(../blocks/buy-game/__platform/_text/buy-game__platform_text.css);
@import url(../blocks/buy-game/__platform/_icon/buy-game__platform_icon.css);
@import url(../blocks/buy-game/__platform/_pc/buy-game__platform_pc.css);
@import url(../blocks/buy-game/__platform/_xBox/buy-game__platform_xBox.css);
@import url(../blocks/buy-game/__platform/_stadia/buy-game__platform_stadia.css);
@import url(../blocks/buy-game/__platform/_ps4/buy-game__platform_ps4.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__main/footer__main.css);
@import url(../blocks/footer/__main/_pic-1/footer__main_pic-1.css);
@import url(../blocks/footer/__main/_pic-2/footer__main_pic-2.css);
@import url(../blocks/footer/__main/_documents/footer__main_documents.css);
@import url(../blocks/footer/__main/_license/footer__main_license.css);
@import url(../blocks/footer/__main/_confidentiality/footer__main_confidentiality.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__copyright/_text/footer__copyright_text.css);
@import url(../blocks/footer/__copyright/_author/footer__copyright_author.css);
