.header__container {
  width: 1280px;
  height: 74px;
  display: flex;
  justify-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto 0px;
  z-index: 1;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .header__container {
    width: 952px;
    margin-top: 20px;
    margin-right: 36px;
    margin-bottom: 0px;
    margin-left: 36px;
  }
}
@media screen and (max-width: 480px) {
  .header__container {
    max-width: 480px;
    height: 85px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 320px) {
  .header__container {
    max-width: 320px;
    height: 85px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
