.hp-info__benefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 390px;
  height: 32px;
  margin: 0px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 320px) {
  .hp-info__benefit {
    max-width: 296px;
    height: auto;
    gap: 18px;
  }
}
