.contest__promotion {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-size: cover;
  width: 132px;
  height: 132px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .contest__promotion {
    margin: 0px 0px 15px 36px;
  }
}
@media screen and (max-width: 320px) {
  .contest__promotion {
    background-image: url(../../../images/Vector-mobile.svg);
    background-position: center;
    background-size: cover;
    width: 62px;
    height: 62px;
    margin: 6px 0px 143px 12px;
    z-index: 2;
  }
}
