.contest__promotion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 132px;
  height: 132px;
  margin-top: 20px;
}

@media screen and (max-width: 1330px) {
  .contest__promotion {
    margin: 20px 0px 15px 36px;
  }
}

@media screen and (max-width: 740px) {
  .contest__promotion {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 560px) {
  .contest__promotion {
    width: 62px;
    height: 62px;
    margin: 6px 0px 143px 12px;
    z-index: 2;
  }
}
