.contest__console_image-1 {
  display: flex;
  width: 460px;
  height: 456px;
  margin: 0px;
  background-image: url(../../../../images/Layer\ X-box.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
