.footer {
  max-width: 1920px;
  height: 180px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 340px;
  }
}
