.buy-game__picture {
  display: flex;
  width: 944px;
  height: 717px;
  margin: 0px;
  background-image: url(../../../images/buy-game-pic.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* outline: 1px solid red; */
}
