.description__info {
  max-width: 952px;
  color: #777;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin: 25px 0px 70px;
}
@media screen and (max-width: 1086px) {
  .description__info {
    max-width: 788px;
  }
}
@media screen and (max-width: 426px) {
  .description__info {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 25px 12px 70px;
  }
}
