.hp-info__title {
  width: 560px;
  height: 126px;
  color: #000;
  font-family: Archangelsk;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 64px 25px 0px;
}
