.buy-game__platform_icon {
  display: flex;
  position: relative;
  width: 319px;
  height: 133px;
  /* outline: 1px solid red; */
}
@media screen and (max-width: 480px) {
  .buy-game__platform_icon {
    max-width: 296px;
    height: 134px;
  }
}
